<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-list"></i>
            Lista de Endereços
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item active">Endereços</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <a class="btn btn-dark mb-3" href="/admin/addresses/create">Cadastrar</a>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <caption></caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Pessoa</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>Cidade</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$addresses"}
                  <tr data-id="{$value.id}">
                    <td>{$value.id}</td>
                    <td data-find="search"><a href="/admin/users/{$value.user.id}">{$value.user.name}</a></td>
                    <td data-find="search">{if="$value.streetType"}{$value.streetType.name}{/if} {$value.publicPlace}</td>
                    <td>{$value.number}</td>
                    <td data-find="search"><a href="/admin/cities#{$value.idCity}">{$value.city.name} / {$value.city.state.uf}</a></td>
                    <td>
                      <a class="btn btn-primary btn-xs" href="/admin/addresses/{$value.id}">
                        <i class="fa fa-edit"></i>
                        Alterar
                      </a>
                      <button class="btn btn-danger btn-xs" data-id="{$value.id}" data-type="delete" data-url="/api/address/{$value.id}" type="submit">
                        <i class="fa fa-trash"></i>
                        Excluir
                      </button>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
                <tfoot>
                  <tr class="text-right">
                    <td colspan="6">
                      <small>
                        <span id="count">{function="count($addresses)"}</span>
                        <span id="countText">endereços encontrados</span>
                      </small>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (Addresses)";

  window.addEventListener("load", () => {
    $("#count").change(function () {
      $("#countText").text("endereços encontrados");
      if ($("#count").text() == 1) {
        $("#countText").text("endereço encontrado");
      }
    });

    $("#count").trigger("change");

    $("button[data-type='delete']").click(function () {
      let id = $(this).data("id");
      let url = $(this).data("url");
      let method = $(this).data("type");
      if (confirm("Deseja remover o endereço " + id + "?")) {
        $.ajax({
          type: method,
          url: url,
          dataType: "json",
          data: {},
          beforeSend: () => {
            $("a, button").attr("disabled", true).toggleClass("disabled");
          },
          complete: () => {
            $("a, button").attr("disabled", false).toggleClass("disabled");
          },
          success: (response) => {
            alert("Endereço " + id + " removido com sucesso.");
            $("[data-id=" + id + "]").remove();
            $("#count").text($("#count").text() - 1).trigger("change");
          },
          error: (xhr, status, error) => {
            let json = xhr.responseJSON ?? {};
            alert(json.message ?? "Não foi possível remover o endereço " + id + ".");
          }
        });
      }
    });
  });
</script>