<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-pencil-alt"></i>
            Alteração de Categoria
          </h1>
          <div>
            <small>Categoria cadastrada em {function="formatDate($category.dateRegister)"}.</small>
            {if="$category.dateLastChange != null"}
            <small>Categoria alterada em {function="formatDate($category.dateLastChange)"}.</small>
            {/if}
          </div>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/admin/categories">Categorias</a>
            </li>
            <li class="breadcrumb-item active">Editar</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form id="editCategory">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Nome *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-info-circle"></i>
                      </span>
                    </div>
                    <input autofocus class="form-control" id="name" name="name" placeholder="Digite o nome" type="text" value="{$category.name}" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="slug">Slug *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-link"></i>
                      </span>
                    </div>
                    <input class="form-control" id="slug" name="slug" placeholder="Digite o slug" type="text" value="{$category.slug}" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="idSuper">Categoria mãe</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="idSuper">
                        <i class="fas fa-cubes"></i>
                      </label>
                    </div>
                    <select class="custom-select select2" id="idSuper" name="idSuper">
                      <option disabled selected>Selecione uma categoria</option>
                      {loop="$categories"}
                      <option value="{$value.id}">{$value.name}</option>
                      {/loop}
                    </select>
                  </div>
                </div>

                <div>
                  <button type="submit" class="btn btn-dark">Salvar</button>
                  <button id="resetButton" type="reset" class="btn btn-outline-dark">Limpar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (Change Category)";

  window.addEventListener("load", () => {
    $(".select2").select2();

    '{if="$category.idSuper != null"}'
    $("#idSuper").val("{$category.idSuper}").change();
    '{/if}'

    $.validator.setDefaults({
      submitHandler: function () {
        $.ajax({
          type: "put",
          url: "/api/category/{$category.id}",
          data: $("#editCategory").serialize(),
          dataType: "json",
          beforeSend: () => {
            $("button, input, select").attr("disabled", true);
          },
          complete: () => {
            $("button, input, select").attr("disabled", false);
          },
          success: (response) => {
            alert("Categoria " + response.id + " alterada com sucesso.");
          },
          error: (xhr, status, error) => {
            let json = xhr.responseJSON ?? {};
            alert(json.message ?? "Não foi possível alterar a categoria.");
          }
        });
      }
    });

    $("#editCategory").validate({
      rules: {
        name: {
          required: true,
          minlength: 2,
          maxlength: 32
        },
        slug: {
          required: true,
          minlength: 2,
          maxlength: 256
        }
      },
      messages: {
        name: {
          required: "Por favor, insira um nome",
          minlength: "Por favor, insira um nome com no mínimo 2 caracteres",
          maxlength: "Por favor, insira um nome com no máximo 32 caracteres"
        },
        slug: {
          required: "Por favor, insira um slug",
          minlength: "Por favor, insira um slug com no mínimo 2 caracteres",
          maxlength: "Por favor, insira um slug com no máximo 256 caracteres"
        }
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      }
    });

    $("#name").blur(function () {
      $("#slug").val($(this).val().normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase().replaceAll(" ", "-"));
    });

    $("#resetButton").click(() => $("#idSuper").val("Selecione uma categoria").trigger("change"));
  });
</script>