<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-list"></i>
            Lista de Configurações
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item active">Configurações</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <caption></caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$configurations"}
                  <tr>
                    <td>{$value.index}</td>
                    <td data-find="search">{$value.key}</td>
                    <td>{$value.value}</td>
                  </tr>
                  {/loop}
                </tbody>
                <tfoot>
                  <tr class="text-right">
                    <td colspan="3">
                      <small>{function="count($configurations)"} configurações encontradas</small>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (Configurations)";
</script>