<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-list"></i>
            Lista de Estados
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item active">Estados</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <caption></caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>UF</th>
                    <th>País</th>
                    <th>Código IBGE</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$states"}
                  <tr id="{$value.id}">
                    <td>{$value.id}</td>
                    <td data-find="search">{$value.name}</td>
                    <td data-find="search">{$value.uf}</td>
                    <td>
                      <a href="/admin/countries#{$value.idCountry}">{$value.country.coi}</a>
                    </td>
                    <td data-find="search">{$value.ibgeCode}</td>
                  </tr>
                  {/loop}
                </tbody>
                <tfoot>
                  <tr class="text-right">
                    <td colspan="5">
                      <small>
                        <span id="count">{function="count($states)"}</span>
                        <span id="countText">estados encontrados</span>
                      </small>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (States)";

  window.addEventListener("load", () => {
    $("#countText").text("estados encontrados");
    if ($("#count").text() == 1) {
      $("#countText").text("estado encontrado");
    }
  });
</script>