<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-list"></i>
            Lista de Tipos de Logradouro
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item active">Tipos de Logradouro</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <caption></caption>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Acrônimo</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$streetTypes"}
                  <tr>
                    <td>{$value.id}</td>
                    <td data-find="search">{$value.name}</td>
                    <td data-find="search">{$value.acronym}</td>
                  </tr>
                  {/loop}
                </tbody>
                <tfoot>
                  <tr class="text-right">
                    <td colspan="3">
                      <small>
                        <span id="count">{function="count($streetTypes)"}</span>
                        <span id="countText">tipos de logradouro encontrados</span>
                      </small>
                    </td>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (Street Types)";

  window.addEventListener("load", () => {
    $("#countText").text("tipos de logradouro encontrados");
    if ($("#count").text() == 1) {
      $("#countText").text("tipo de logradouro encontrado");
    }
  });
</script>