<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            <i class="fas fa-plus-circle"></i>
            Cadastro de Usuário
          </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="/admin">Início</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/admin/users">Usuários</a>
            </li>
            <li class="breadcrumb-item active">Novo</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <form enctype="multipart/form-data" id="addUser" method="post">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Nome *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-info-circle"></i>
                      </span>
                    </div>
                    <input autofocus class="form-control" id="name" name="name" placeholder="Digite o nome" type="text" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-id-card-alt"></i>
                      </span>
                    </div>
                    <input class="form-control" data-inputmask="'mask': '999.999.999-99'" data-mask id="cpf" name="cpf" placeholder="Digite o CPF" type="text" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="login">Login *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-user"></i>
                      </span>
                    </div>
                    <input class="form-control" id="login" name="login" placeholder="Digite o login" type="text" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="email">E-mail</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                    <input class="form-control" id="email" name="email" placeholder="Digite o e-mail" type="email" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="phone">Telefone</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-phone"></i>
                      </span>
                    </div>
                    <input class="form-control" data-inputmask="'mask': '(99) 99999-9999'" data-mask id="phone" name="phone" placeholder="Digite o telefone" type="tel" />
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">Senha *</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                    <input class="form-control" id="password" name="password" placeholder="Digite a senha" type="password" />
                    <div class="input-group-append">
                      <div class="input-group-text" id="view-password">
                        <i class="fas fas fa-eye-slash"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row m-0">
                    <div class="col-auto text-muted" id="uppercase">
                      <i class="far fa-times-circle"></i> Letra maiúscula
                    </div>
                    <div class="col-auto text-muted" id="lowercase">
                      <i class="far fa-times-circle"></i> Letra minúscula
                    </div>
                    <div class="col-auto text-muted" id="number">
                      <i class="far fa-times-circle"></i> Número
                    </div>
                    <div class="col-auto text-muted" id="special-char">
                      <i class="far fa-times-circle"></i> Caracter especial (ex.: @, #, *, !)
                    </div>
                    <div class="col-auto text-muted" id="length">
                      <i class="far fa-times-circle"></i> 6 caracteres
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="photo">Foto</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fas fa-camera"></i>
                      </span>
                    </div>
                    <div class="custom-file">
                      <input class="custom-file-input" id="photo" name="photo" type="file" />
                      <label class="custom-file-label" for="photo">Escolher arquivo</label>
                    </div>
                  </div>
                </div>

                <div class="form-check mb-2">
                  <input type="checkbox" class="form-check-input" id="isAdmin" name="isAdmin" value="true" />
                  <label class="form-check-label" for="isAdmin">Acesso de administrador</label>
                </div>

                <div>
                  <button type="submit" class="btn btn-dark">Cadastrar</button>
                  <button id="resetButton" type="reset" class="btn btn-outline-dark">Limpar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.title += " (Register User)";

  window.addEventListener("load", () => {
    bsCustomFileInput.init();
    $("[data-mask]").inputmask();

    $("#view-password").mousedown(() => {
      $("#password").attr("type", "text");
      $("#view-password").html('<i class="fas fa-eye" id="view-password"></i>');
      $("#view-password").toggleClass("bg-light");
    }).on("mouseup mouseleave", () => {
      $("#password").attr("type", "password");
      $("#view-password").html('<i class="fas fas fa-eye-slash" id="view-password"></i>');
      $("#view-password").toggleClass("bg-light");
    });

    $("#password").keyup(() => {
      if ($("#password").val().toLowerCase() === $("#password").val()) { // Contém um caracter maiúsculo
        $("#uppercase").html('<i class="far fa-times-circle"></i> <del>Letra maiúscula</del>').addClass("text-muted");
      }
      else {
        $("#uppercase").html('<i class="far fa-check-circle"></i> Letra maiúscula').removeClass("text-muted");
      }

      if ($("#password").val().toUpperCase() === $("#password").val()) { // Contém um caracter minúsculo
        $("#lowercase").html('<i class="far fa-times-circle"></i> <del>Letra minúscula</del>').addClass("text-muted");
      }
      else {
        $("#lowercase").html('<i class="far fa-check-circle"></i> Letra minúscula').removeClass("text-muted");
      }

      if (!/\d/.test($("#password").val())) { // Contém um número
        $("#number").html('<i class="far fa-times-circle"></i> <del>Número</del>').addClass("text-muted");
      }
      else {
        $("#number").html('<i class="far fa-check-circle"></i> Número').removeClass("text-muted");
      }

      if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test($("#password").val())) { // Contém um caracter especial
        $("#special-char").html('<i class="far fa-times-circle"></i> <del>Caracter especial (ex.: @, #, *, !)</del>').addClass("text-muted");
      }
      else {
        $("#special-char").html('<i class="far fa-check-circle"></i> Caracter especial (ex.: @, #, *, !)').removeClass("text-muted");
      }

      if ($("#password").val().length >= 6) { // Contém o tamanho mínimo
        $("#length").html('<i class="far fa-check-circle"></i> 6 caracteres').removeClass("text-muted");
      }
      else {
        $("#length").html('<i class="far fa-times-circle"></i> <del>6 caracteres</del>').addClass("text-muted");
      }
    });

    $.validator.setDefaults({
      submitHandler: function () {
        $.ajax({
          type: "post",
          url: "/api/user",
          dataType: "json",
          contentType: false,
          processData: false,
          data: new FormData(document.getElementById("addUser")),
          beforeSend: () => {
            $("button, input").attr("disabled", true);
          },
          complete: () => {
            $("button, input").attr("disabled", false);
          },
          success: (response) => {
            alert("Usuário " + response.id + " cadastrado com sucesso.");
          },
          error: (xhr, status, error) => {
            let json = xhr.responseJSON ?? {};
            alert(json.message ?? "Não foi possível cadastrar o usuário.");
          }
        });
      }
    });

    $.validator.methods.cpf = function (value, element) {
      return this.optional(element) || /^\d{3}\.\d{3}\.\d{3}\-\d{2}$/.test(value);
    }

    $.validator.methods.phone = function (value, element) {
      return this.optional(element) || /^\(\d{2}\)\s\d{5}\-\d{4}$/.test(value);
    }

    $.validator.methods.passwordStrength = function (value, element) {
      return /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/.test(value) // Contém um caracter especial
        && /\d/.test(value) // Contém um número
        && value.toLowerCase() !== value // Contém um caracter maiúsculo
        && value.toUpperCase() !== value; //Contém um caracter minúsculo
    }

    $("#addUser").validate({
      rules: {
        name: {
          required: true,
          minlength: 6,
          maxlength: 64
        },
        cpf: {
          cpf: true,
          minlength: 14,
          maxlength: 14
        },
        login: {
          required: true,
          minlength: 6,
          maxlength: 64
        },
        email: {
          email: true,
          minlength: 6,
          maxlength: 128
        },
        phone: {
          phone: true,
          minlength: 15,
          maxlength: 15
        },
        password: {
          passwordStrength: true,
          required: true,
          minlength: 6,
          maxlength: 256
        }
      },
      messages: {
        name: {
          required: "Por favor, insira um nome",
          minlength: "Por favor, insira um nome com no mínimo 6 caracteres",
          maxlength: "Por favor, insira um nome com no máximo 64 caracteres"
        },
        cpf: {
          cpf: "Por favor, insira um CPF válido",
          minlength: "Por favor, insira um CPF com tamanho válido",
          maxlength: "Por favor, insira um CPF com tamanho válido"
        },
        login: {
          required: "Por favor, insira um login",
          minlength: "Por favor, insira um login com no mínimo 6 caracteres",
          maxlength: "Por favor, insira um login com no máximo 64 caracteres"
        },
        email: {
          email: "Por favor, insira um e-mail válido",
          minlength: "Por favor, insira um e-mail com no mínimo 6 caracteres",
          maxlength: "Por favor, insira um e-mail com no máximo 128 caracteres"
        },
        phone: {
          phone: "Por favor, insira um telefone válido",
          minlength: "Por favor, insira um telefone com tamanho válido",
          maxlength: "Por favor, insira um telefone com tamanho válido"
        },
        password: {
          passwordStrength: "Por favor, insira uma senha forte",
          required: "Por favor, insira uma senha",
          minlength: "Por favor, insira uma senha com no mínimo 6 caracteres",
          maxlength: "Por favor, insira uma senha com no máximo 256 caracteres"
        }
      },
      errorElement: "span",
      errorPlacement: function (error, element) {
        error.addClass("invalid-feedback");
        element.closest(".form-group").append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass("is-invalid");
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass("is-invalid");
      }
    });
  });
</script>