<!-- Breadcrumb Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-12">
      <nav class="breadcrumb bg-light mb-30">
        <a class="breadcrumb-item text-dark" href="/">Início</a>
        <span class="breadcrumb-item active">Contato</span>
      </nav>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Contact Start -->
<div class="container-fluid">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
    <span class="bg-secondary pr-3">Contato</span>
  </h2>
  <div class="row px-xl-5">
    <div class="col-lg-7 mb-5">
      <div class="contact-form bg-light p-30">
        <div id="success"></div>
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="control-group">
            <input type="text" class="form-control" id="name" placeholder="Nome" required data-validation-required-message="Informe o seu nome" />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input type="email" class="form-control" id="email" placeholder="E-mail" required data-validation-required-message="Informe o seu e-mail" />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <input type="text" class="form-control" id="subject" placeholder="Assunto" required data-validation-required-message="Informe o assunto" />
            <p class="help-block text-danger"></p>
          </div>
          <div class="control-group">
            <textarea class="form-control" rows="8" id="message" placeholder="Mensagem" required data-validation-required-message="Informe a mensagem"></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div>
            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-lg-5 mb-5">
      <div class="bg-light p-30 mb-30">
        <iframe style="width: 100%; height: 250px; border: 0;" title="Google Maps" src="https://www.google.com/maps?q={$url}&output=embed" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="bg-light p-30 mb-3">
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{$address} - {$city}, {$uf}</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{$mail}</p>
        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>{$phone}</p>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->

<script>
  document.title += " (Contact)";
</script>